sna_book.pdf
venv
requisitos.odt
lessons
.ipynb_checkpoints
.~lock.requisitos.odt#
unity_1/database/exemplares.csv
grafos
video
.cache
link_repositorio.txt
video_projeto2.2.mp4
video_projeto2.2.mp4.log
**pdfs**
link_videos